.body{
    background-color: beige;
}

#text-bar{
    height: 30px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    display: block;
    background-color: cadetblue;
}

#output-txt{
    text-align: end;
}

.numpad-td {
    height: 50px;
    width: 30px;

}

.num-btn{
    border-radius: 6px;
    width: 100%;
    
    padding: 25px;
}

.oprtr-btn{
    border-radius: 30px;
    padding: 20px;
}

footer {
    visibility: hidden;
}